<md-toolbar>
      <div class="md-toolbar-tools">
        <md-truncate><a><img src="images/awazLogo.png" style="padding-top:2em;"></a></md-truncate>

        <span flex></span>

         <md-button class="md-fab md-mini" aria-label="Favorite" ng-controller="wordsController" ng-click='dashboard()'>
           <md-tooltip md-direction="left">Dashboard</md-tooltip>
          <md-icon md-font-library="material-icons">dashboard</md-icon>
        </md-button>

         <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="showDailog($event)" ng-if="categoryId.length > 2"  ng-controller="wordsController">
           <md-tooltip md-direction="left">Add Word</md-tooltip>
          <md-icon md-font-library="material-icons" >add circle</md-icon>
        </md-button>
       <div ng-controller="userController"> 
        <md-button class="md-fab md-mini" aria-label="Favorite" ng-click = "logout('user')">
           <md-tooltip md-direction="left" >Logout</md-tooltip>
          <md-icon md-font-library="material-icons"   >power settings new</md-icon>
        </div>
        </md-button>
      </div>
</md-toolbar>
<div ng-controller="wordsController">
  <md-content class="md-padding" style="background:#f2f2f2">
    <div class='row' >
      <div class="pull-right">
      
        <md-button class="md-raised md-primary" ng-href="#/category/{{categoryId}}/quiz/1">Visual Quiz</md-button>
        <md-button class="md-raised" ng-href="#/category/{{categoryId}}/quiz/audio/1">Audio Quiz</md-button>
      </div>
    </div>
  </md-content>
  <md-content class="md-padding" ng-init='getWordsOfCategory()'>
      <div layout="row" layout-gt-xs="row" layout-wrap >
          <md-card class='' flex='25' flex-gt-xs='20'  layout-align="center center" ng-repeat="word in wordsArr"  >
            <img ng-src="{{word.imgSrc}}" class="md-card-image" alt="Washed Out" style='height:140px !important; '>
              <span layout="column">
                <md-button><h2 style="font-family: 'mehr';font-size:33px; font-weight:800" get-translated-text word="{{word.text}}"></h2></md-button>
                <md-button id='play' ng-click='play(word.audioSrc)' md-padding class="md-raised md-primary">
                  <!--<md-icon md-font-library="material-icons">volume up</md-icon>-->
                  {{"Play"}}
                </md-button>
              </span>
              </md-card-content>
          </md-card>
      </div>
     <md-divider md-inset ></md-divider>
  </md-content>
</div>


<style>
  .md-primary{
    background: rgb(16,108,200) !important;
  }   
</style>