<md-dialog aria-label="" class='fullscreen-dialog' >
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Property</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"></md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ng-controller="categoriesController" layout='row' layout-gt-xs="row" layout-wrap >
      <form name='category' action = '/addCategory' method='POST' enctype="multipart/form-data">
      <!--<form name='category' ng-submit="addCategory()" enctype="multipart/form-data">  -->
        <div class="md-dialog-content">
          <input name='owner_id' value="{{sessionService.get('user')}}" hidden></input>
          <md-input-container>
              <label>Title</label>
              <input name= 'title'>
          </md-input-container>
          <br/> 
          <md-input-container>
              <label>Image</label>
              <input type="file" name="file1" size="40">
          </md-input-container>
          <br/>
          <md-input-container class="md-block" flex-gt-xs>
            <md-button type="submit" class='md-raised md-primary' value="Submit">Add Property</md-button>
          </md-input-container>
        </div>
      </form>
    </md-dialog-content>
</md-dialog>


<style>
    md-dialog.fullscreen-dialog {
    max-width: 50%;
    max-height: 70%;
    width: 50%;
    height: 60%;
    border-radius: 0;
}
</style>