<md-toolbar>
      <div class="md-toolbar-tools">
        <md-truncate style="position: absolute; left: 40px; right: 170px; top: 13px; bottom: 13px;">Estate Panel</md-truncate>

        <span flex></span>

         <md-button class="md-fab md-mini" aria-label="Favorite">
           <md-tooltip md-direction="left">Dashboard</md-tooltip>
          <md-icon md-font-library="material-icons">dashboard</md-icon>
        </md-button>

         <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="showDailog($event)"  ng-controller="categoriesController">
           <md-tooltip md-direction="left">Add Category</md-tooltip>
          <md-icon md-font-library="material-icons" >add circle</md-icon>
        </md-button>
       <div ng-controller="userController"> 
        <md-button class="md-fab md-mini" ng-controller='userController' aria-label="Favorite" ng-click = "logout(user_id)">
           <md-tooltip md-direction="left" >Logout</md-tooltip>
          <md-icon md-font-library="material-icons"   >power settings new</md-icon>
        </div>
        </md-button>
      </div>
</md-toolbar>
<md-content class="md-padding" ng-controller="categoriesController">
    <div layout="" layout-gt-xs="row" layout-wrap >
        <md-card class='' flex='25' flex-gt-xs='20'  layout-align="center center" ng-repeat="todo in categories"  >
          <img ng-src="{{todo.src}}" class="md-card-image" alt="Washed Out" style='height:140px !important; '>
            <span layout="row"><hr  flex style="color:#000"/></span>
            <md-button md-no-ink class="md-raised" ng-href="#/category/{{todo.id}}"><h2 style="font-family: 'mehr';font-size:33px;" get-translated-text word="{{todo.text}}"></h2></md-button>
        </md-card>
    </div>
</md-content>

<hr>

<md-content class="md-padding" ng-controller="categoriesController" ng-init="userCategories(sessionService.get('user'))">
    <h2>Your Cateogries</h2>
    <hr>
    <div layout="" layout-gt-xs="row" layout-wrap >
        <md-card class='' flex='25' flex-gt-xs='20'  layout-align="center center" ng-repeat="category in userDefinedCategories"  >
          <img ng-src="/uploads/{{category.image}}" class="md-card-image" alt="Washed Out" style='height:140px !important; '>
            <span layout="row"><hr  flex style="color:#000"/></span>
            <md-button class="md-raised" ng-href="#/category/{{category._id}}"><h2 style="font-family: 'mehr';font-size:33px;" get-translated-text word="{{category.title}}"></h2></md-button>
             
        </md-card>
    </div>
</md-content>

<style>
  .md-primary{
    background: rgb(16,108,200) !important;
  }   
</style>